<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Group Chat</h1>

    <div>
        <input type="text" id="chat_box">
        <button id="send">Send</button>
    </div>



    <script>
        let ws = new WebSocket('ws://127.0.0.1:8000/ws/as/')
        ws.onopen = function(event){
            console.log("Connect websocket..", event)
        }

        ws.onmessage = function(event){
            console.log("Received message..", event['data'])
        }

        ws.onerror = function(event){
            console.log("Catch error..", event)
        }

        ws.onclose = function(event){
            console.log("Close Websocket..", event)
        }

        document.getElementById('send').addEventListener('click', function(){
            ws.send(document.getElementById('chat_box').value)
        })
    </script>
</body>
</html>